[Oo]bj/
[Bb]in/
*.suo
*.user
_ReSharper.*/
output/*
resharper.log
TestResults/
ClientBin/*
install/*.nupkg
src/packages/*/
src/AgUnit.Runner.Resharper90/UnitTestFramework/ExtendedDebugTaskRunnerHostController.cs
